<!Doctype html>

<html>


<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="css/external.css"/> 

</head>

	<div id="navbar">
		<a href="squadupdate.html">Squad update</a>
		<a class ="navTxt">Squad</a>
		<a class ="navTxt">Fixtures/Results</a>
		<a class ="navTxt">Injury Table</a>
		<a class ="navTxt">Team Stats</a>
	</div>

<body  background="images/stadium.jpg"> 

	<script src="https://raw.github.com/leizongmin/js-xss/master/dist/xss.js"></script>
	<script>
	// apply function filterXSS in the same way
	var html = filterXSS('<script>alert("xss");</scr' + 'ipt>');
	alert(html);
	</script> 


	<div class="crest">
		<img src="images/crest.png" alt="image of Ireland crest" style="width:80" height="80"/>
	</div>

	<div class="group">
		<div class="bestplayers">
			<img src="images/bestplayers.PNG" alt="image of 3 players top right">
		</div>
		<div class="group-d">
			<img src="images/group-d.png" alt="group table top left">
		</div>
	</div>
	
	<div class = "group2">
		<div class="eriksen">
			<img src="images/denmark.png" alt="denmark bottom left">
			
			<!--div class="centered"></br>Irish</div>-->
		</div>
		<div class="mbappe">
			<img src="images/mbappe.jpeg" alt="bottom center pic">
			<!--<div class="textbox2">Week 6</br>Star Player</div>-->
		</div>
		<div class="worldCup">
			<img src="images/worldCup.jpg" alt="bottom right pic">
		</div>
	</div>
	
	<div class = "scores">
		<iframe src='http://www.goalserve.com/updaters/soccerupdate.aspx' width="616" height="150"
		frameborder="3" marginwidth="0" marginheight="0" scrolling="auto" ></iframe>
	</div>
		
</html>

